.contactsBlock {
    height: 100vh;
    background-color: #f5c798;
}

.contactsContainer {
    flex-direction: column;
    justify-content: space-around;

}

.contactsForm{
    height: 50%;
    width: 50%;
    /*border: solid;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.input{
    padding: 0px 0px;
    border-width: 0px;
}

.smallInput {
    width: 100%;
    height: 10%;
}

.largeInput {
    width: 100%;
    height: 75%;
}