.elementButton {
    background-color: #969595; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    /*text-decoration: none;*/
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    /*border-radius: 5px;*/
}

.mainBlock {
    /*display: flex;*/

}