@import "src/common/styles/sass/variables.sass"

.skill
  width: 250px
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  margin: 0
  padding: 30px
  border: 1px solid $borderColor
  border-radius: 20px
  line-height: 1.7
  transition: 0.3s
  &:hover
    border: 1px solid $accentColor

.icon
  height: 60px
  width: 60px
  color: $accentColor

.description
  font-size: 14px
  color: $textColorSecondary
  line-height: 1.7

.title
  font-size: 20px
  font-weight: 300
  color: $textColorMain
