.skillsBlock{
    height: 100vh;
    background-color: #f59898;

}

.skillsContainer {

    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: deepskyblue;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}