.mainTitle{
    background-color: #cbcbcb;
}

.skillsBlock{
    min-height: 100vh;
    background-color: #f59898;

}

.skillsContainer {

    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}