.project{
    width: 300px;
    /*border: 1px solid;*/


}

.imageAndButton{
/*border: 1px solid;*/
/*    position: relative;*/
/*    background-color: #f59898;*/
    background-image: url("https://miro.medium.com/v2/resize:fit:0/0*KIKnUvzdIkp5zcDJ");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imageAndButton img{

}

.imageAndButton button{

    /*border: none;*/
    /*cursor: pointer;*/


    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.projTitle{
text-align: left;
    font-weight: bold;
    padding: 5px;
}

.projDescription{
    text-align: left;
}