@import "src/common/styles/sass/variables.sass"

.footerBlock
  //margin-top: 68px
  height: 50vh

.footerContainer
  display: flex
  flex-direction: column
  justify-content: space-around
  h3
    font-size: 20px
    font-weight: 300

.footerBar
  height: 20%
  width: 90%
  display: flex
  justify-content: space-between

.cube
  height: 100%
  width: 20%
  background-color: $textColorSecondary
