
.footerBlock {
    height: 50vh;
    background-color: #bdf598;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.footerBar {
    height: 20%;
    width: 90%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}

.cube {
    height: 100%;
    width: 20%;
    background-color: #969595;
}