@import '../common/styles/sass/mixins'

.distantWorkBlock
  height: 50vh

.distantWorkContainer
  @include container
  display: flex
  flex-direction: column
  justify-content: center

h3
  color: #ffffff


